<div class="container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4"
  >
    <a
      href="/dashboard"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark fw-bold fs-2 text-decoration-none"
    >
      Notes
    </a>

    <form
      class="nav col-12 col-md-auto flex-fill justify-content-center mb-3 mb-md-0"
      role="search"
      method="post"
      action="/dashboard/search"
    >
      <input
        type="search"
        class="form-control border-primary"
        placeholder="Search...."
        name="searchTerm"
        aria-label="search"
        autocomplete="off"
      />
    </form>

    <div class="col-md-3 text-end">
      <a href="/logout" type="button" class="btn btn-outline-primary me-2"
        >Logout</a
      >
    </div>
  </header>
</div>
