<div class="container-fluid container-fluid-custom py-md-5 py-5">

    <div class="row text-center justify-content-center mb-5 mb-md-0">
        <div class="col-md-12 col-lg-6 md-mb-0 mb-6">
            <h1 class="display-4 fw-bold d-flex mb-5 line-height-2 position-relative  home-title ">
              Write Down your thoughts as It comes to you ! 
            </h1>
            <p class="fs-3 mb-5">
                Use our App to write down your thoughts and idea for <b class=" fw-bold">FREE</b>
            </p>
            <a href="/auth/google" class="btn btn-primary btn-lg">Try the App now </a>
        </div>
    </div>
    
</div>

